<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ammoenio</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="about.html">Introduction</a>
                    </li>
                    <li>
                        <a href="services.html">Tests</a>
                    </li>
                    <li>
                        <a href="full-width.html">Project Management</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Biweekly Reports<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1st Report</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2nd Report</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3rd Report</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4th Report</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About What We Do
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../index.html">Home</a>
                    </li>
                    <li class="active">Introduction</li>
                </ol>
            </div>
        </div>
    </div>
        <!-- /.row -->

    <section>
        <div class="about-section container">
        
            <h2 style="margin: 10px;">Introduction</h2>
            <hr>
            <iframe style="width: 856px; height: 480px;"  src="https://www.youtube.com/embed/JzGSS37tPWg" frameborder="0" allowfullscreen></iframe>
        </div>

    </section>
    <!--style="background-color: #d3d3d3;"<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>-->
    <section >
    <br><br><br>
        <div class=" container">
        
            <h2 style="margin: 10px;">How Does It Work?          <i class="fa fa-cubes" aria-hidden="true"></i></h2>
           <hr>
            <p>Ammoenio allows individuals to buy shares either in start-ups or in already running companies. Once the individual has acquired some shares, he/she will make an income each time dividends are issued. Dividends will grant each individual an income from the profit of the company proportional to the number of shares they own.<br><br>
Through the share-trading feature, the individual buys a share when its value is down while anticipating an increase in value at a later date. Selling the share at a higher value will generate income for the individual, while when owning that share, the individual also gets income from any dividends issued by the company. Ammoenio provides users with tools that enable them to see how the value of the shares is changing over time, helping them figure out when is the best time to buy a share and when to sell it.<br><br>
Owning equity funds will also enable the individual to take part in company decisions by having voting rights, a feature that is essential in disrupting conventional business models. Voting in company decisions (including those of issuing dividends) can be done directly through the Ammoenio platform.
</p>
        </div>
    </section>
    <section>
    <br><br><br>
        <div class=" container">
        
        <h2 style="margin: 10px;">The Business Model          <i class="fa fa-money" aria-hidden="true"></i></h2>
        <hr>
        <p>The business model for Ammoenio is meant to be one that is quite simple and straight-forward, but also efficient and attractive for all three parties: Ammoenio developers, businesses and investors.
The monetisation is done through two main ways. First, there is a small fixed charge for every transaction when trading shares between individuals, but there is no charge for buying shares directly from the company issuing them. Secondly, there is a charge for getting dividends which is a small percentage of the individual’s income from dividends.
</p>
</div>
    </section>
    <section>
    <br><br><br>
        <div class=" container">
        
            <h2 style="margin: 10px;">Technical Details           <i class="fa fa-cogs" aria-hidden="true"></i></h2>
            <hr>
            <p>Blockchain technology is essential to the way Ammoenio will work, everything being done through the use of smart contracts. Blockchain ensures that shares cannot be stolen, that data cannot be unlawfully altered or interfered with, that all information is secure and cannot be lost and that all transfers (issuing shares, buying and selling shares, issuing and transferring dividends) as well as voting are being done completely securely and anonymously.<br><br>
In terms of the chosen Blockchain platform, Ammoenio will make use of the well-known Ethereum hyper ledger which is purposely designed with smart contracts in mind. Ethereum will facilitate both the storage and the running of smart contracts. The programming language used will be Solidity which, just like Ethereum, has been designed specifically for smart contracts. The Ethereum development environment and framework used will be Truffle which will ensure the connection between the front end and the back end. Ethereum TestRPC will enable testing the application during the development stage. <br><br>
The front end is meant to be user-friendly and no technical knowledge is required to use the app and to start raising money or investing. The app even generates the legal contracts for the individuals or businesses if they require it.
The technologies that will be used for the front end are HTML, CSS, JavaScript and Node.JS. The Truffle framework works natively with JavaScript, making JavaScript the best option for this. <br><br>
</p>
<h4>Long Story Short:</h4>
<ul>
    <li>Blockchain is an innovative technology that facilitates the building of a distributed database (also known as a hyper-ledger) that maintains a list of records grouped into blocks.</li>
    <li>Ethereum is a public Blockchain-based hyper ledger, featuring smart contract functionality without any change of fraud, censorship or third-party interference.</li>
    <li>Solidity is an object oriented programming language designed with smart contracts in mind. Solidity is designed specifically to work within the Ethereum environment.</li>
    <li>Truffle is a development environment for Ethereum based applications with built in JavaScript support.</li>
    <li>TestRPC is Node.JS based framework used for testing Ethereum based applications. It makes use of ethreumJS in order to simulate full client behaviour, therefore making Ethereum applications development much faster.</li>
</ul>
        </div>
    </section>
    <section>
    <br><br><br>
        <div class=" container">
        
        <h2 style="margin: 10px;">Our Financial Plan         <i class="fa fa-file-text-o" aria-hidden="true"></i></h2>
        <hr>
        <p>Ammoenio allows individuals to buy shares either in start-ups or in already running companies. Once the individual has acquired some shares, he/she will make an income each time dividends are issued. Dividends will grant each individual an income from the profit of the company proportional to the number of shares they own.<br><br>
Through the share-trading feature, the individual buys a share when its value is down while anticipating an increase in value at a later date. Selling the share at a higher value will generate income for the individual, while when owning that share, the individual also gets income from any dividends issued by the company. Ammoenio provides users with tools that enable them to see how the value of the shares is changing over time, helping them figure out when the best time to buy a share is and when to sell it.<br><br>
Owning equity funds will also enable the individual to take part in company decisions by having voting rights, a feature that is essential in disrupting conventional business models. Voting in company decisions (including those of issuing dividends) can be done directly through the Ammoenio platform.


</p>
</div>
    </section>


    
    <footer class="container">
    <hr>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Ammoenio 2016</p>
                </div>
            </div>
        </footer>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
